:root {
  --blackPieceColor: black;
  --redPieceColor: red;
  --shape: 50%;
}

.root {
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
}

.cube {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row:nth-of-type(odd) .cube:nth-of-type(odd) {
  background-color: grey;
}

.row:nth-of-type(odd) .cube:nth-of-type(even) {
  background-color: white;
}

.row:nth-of-type(even) .cube:nth-of-type(even) {
  background-color: grey;
}

.row:nth-of-type(even) .cube:nth-of-type(odd) {
  background-color: white;
}


.red-piece {
  height: 25px;
  width: 25px;
  border-radius: var(--shape);
  background-color: var(--redPieceColor);
}

.black-piece {
  height: 25px;
  width: 25px;
  border-radius: var(--shape);
  background-color: var(--blackPieceColor);
}

.active {
  border: 3px solid yellow;
}

#suggest {
  background-color: lightblue;
}
